In [1]:
import pandas as pd
import numpy as np

### Series

In [7]:
#We would actually do this with pandas, but this is how we would have done it before pandas....
#We won't do things like this with loops when working with pandas..it's much easier
with open('US_Unemployment_Oct2012.csv', 'r', encoding = 'UTF-8') as unemp: #opens file for reading
    data = {} #empty dictionary
    unemp.readline()
    for line in unemp: #looks at file line by line
        #print(line)
        info = line.rstrip().split(',') #removing spaces or /n, split into a list
        #print(info)
        data[info[0]] = float(info[1])
print(data)

{'AL': 7.1, 'AK': 6.8, 'AZ': 8.1, 'AR': 7.2, 'CA': 10.1, 'CO': 7.7, 'CT': 8.4, 'DE': 7.1, 'FL': 8.2, 'GA': 8.8, 'HI': 5.4, 'ID': 6.6, 'IL': 8.8, 'IN': 8.4, 'IA': 5.1, 'KS': 5.6, 'KY': 8.1, 'LA': 5.9, 'ME': 7.2, 'MD': 6.8, 'MA': 6.7, 'MI': 9.1, 'MN': 5.6, 'MS': 9.1, 'MO': 6.7, 'MT': 5.8, 'NE': 3.9, 'NV': 10.3, 'NH': 5.7, 'NJ': 9.6, 'NM': 6.8, 'NY': 8.4, 'NC': 9.4, 'ND': 3.2, 'OH': 6.9, 'OK': 5.2, 'OR': 8.5, 'PA': 8.0, 'RI': 10.1, 'SC': 8.8, 'SD': 4.4, 'TN': 7.8, 'TX': 6.4, 'UT': 5.5, 'VT': 5.0, 'VA': 5.8, 'WA': 7.8, 'WV': 7.5, 'WI': 6.8, 'WY': 5.1}

In [8]:
data_series = pd.Series(data)
data_series

AL     7.1
AK     6.8
AZ     8.1
AR     7.2
CA    10.1
CO     7.7
CT     8.4
DE     7.1
FL     8.2
GA     8.8
HI     5.4
ID     6.6
IL     8.8
IN     8.4
IA     5.1
KS     5.6
KY     8.1
LA     5.9
ME     7.2
MD     6.8
MA     6.7
MI     9.1
MN     5.6
MS     9.1
MO     6.7
MT     5.8
NE     3.9
NV    10.3
NH     5.7
NJ     9.6
NM     6.8
NY     8.4
NC     9.4
ND     3.2
OH     6.9
OK     5.2
OR     8.5
PA     8.0
RI    10.1
SC     8.8
SD     4.4
TN     7.8
TX     6.4
UT     5.5
VT     5.0
VA     5.8
WA     7.8
WV     7.5
WI     6.8
WY     5.1
dtype: float64

In [9]:
print(data_series.index)
print(data_series.values)

Index(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID',
       'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS',
       'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK',
       'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV',
       'WI', 'WY'],
      dtype='object')
[ 7.1  6.8  8.1  7.2 10.1  7.7  8.4  7.1  8.2  8.8  5.4  6.6  8.8  8.4
  5.1  5.6  8.1  5.9  7.2  6.8  6.7  9.1  5.6  9.1  6.7  5.8  3.9 10.3
  5.7  9.6  6.8  8.4  9.4  3.2  6.9  5.2  8.5  8.  10.1  8.8  4.4  7.8
  6.4  5.5  5.   5.8  7.8  7.5  6.8  5.1]

In [10]:
print(data_series.loc['CA'])
print(data_series.iloc[4])

10.1
10.1

In [11]:
data_series.loc['CA':'ID']

CA    10.1
CO     7.7
CT     8.4
DE     7.1
FL     8.2
GA     8.8
HI     5.4
ID     6.6
dtype: float64

In [12]:
data_series.iloc[4:12]

CA    10.1
CO     7.7
CT     8.4
DE     7.1
FL     8.2
GA     8.8
HI     5.4
ID     6.6
dtype: float64

In [15]:
data = [10.1, 7.7, 8.4, 7.1]
#How do I divide them all by 100?
for item in data:
    proportions  = item/100
    print(proportions)

0.10099999999999999
0.077
0.084
0.071

In [13]:
proportions = data_series/100
proportions.iloc[0:5]

AL    0.071
AK    0.068
AZ    0.081
AR    0.072
CA    0.101
dtype: float64

In [16]:
data = [10.1, 7.7, 8.4, 7.1]
#How do I cast them all to ints?
rounded = [int(item) for item in data]
print(rounded)

[10, 7, 8, 7]

In [17]:
rounded = data_series.astype('int')
rounded.iloc[0:5]

AL     7
AK     6
AZ     8
AR     7
CA    10
dtype: int64

### Data Frames

In [ ]:
#Fire data subsetted from https://www.vbgov.com/government/departments/stir/transparency/Pages/open-data.aspx

In [18]:
fire = pd.read_csv('Fire_Tiny.csv', index_col = 0)

In [19]:
fire

,Incident Type,Call Date and Time,Year,Incident Location,Battalion,Station Area,Estimated Property Loss,Location 1
0,"Electrical wiring/equipment problem, other",08/05/2012 03:54:23 AM,2012,2100 VISTA CI,2.0,ST01,20,"2100 VISTA CI\nVIRGINIA BEACH, VA 23451-\n(36...."
1,"EMS call, excluding vehicle accident with injury",07/10/2014 02:52:41 PM,2014,1200 ATLANTIC SHORES DR,1.0,ST12,0,"1200 ATLANTIC SHORES DR\nVIRGINIA BEACH, VA 23..."
2,"EMS call, excluding vehicle accident with injury",08/09/2015 05:17:05 PM,2015,400 PRINCE OF WALES DR,2.0,ST20,0,"400 PRINCE OF WALES DR\nVIRGINIA BEACH, VA 234..."
3,"EMS call, excluding vehicle accident with injury",11/25/2011 08:11:40 AM,2011,2500 BAYVIEW AV,2.0,ST04,0,"2500 BAYVIEW AV\nVIRGINIA BEACH, VA 23455-\n(3..."
4,"EMS call, excluding vehicle accident with injury",04/18/2015 12:49:49 PM,2015,100 HILL PRINCE RD,3.0,ST09,40,"100 HILL PRINCE RD\nVIRGINIA BEACH, VA 23462-\..."
5,"EMS call, excluding vehicle accident with injury",09/04/2013 01:45:32 PM,2013,1800 COLONIAL ARMS CI,1.0,ST08,20,"1800 COLONIAL ARMS CI\nVIRGINIA BEACH, VA 2345..."
6,"EMS call, excluding vehicle accident with injury",05/13/2017 04:09:32 AM,2017,3800 CHANCERY LN,3.0,ST16,10,"3800 CHANCERY LN\nVIRGINIA BEACH, VA 23452-\n(..."
7,"Alarm system activation, no fire - unintentional",08/29/2016 01:37:51 PM,2016,5800 WESLEYAN DR,2.0,ST02,30,"5800 WESLEYAN DR\nVIRGINIA BEACH, VA 23455-\n(..."
8,Brush or brush-and-grass mixture fire,07/23/2011 02:08:01 PM,2011,1800 COLONIAL ARMS CI,1.0,ST08,2000,"1800 COLONIAL ARMS CI\nVIRGINIA BEACH, VA 2345..."
9,"EMS call, excluding vehicle accident with injury",01/11/2012 11:10:34 AM,2012,100 INDIAN RIVER RD,3.0,ST10,0,"100 INDIAN RIVER RD\nVIRGINIA BEACH, VA 23464-\n"

In [20]:
fire.head()

,Incident Type,Call Date and Time,Year,Incident Location,Battalion,Station Area,Estimated Property Loss,Location 1
0,"Electrical wiring/equipment problem, other",08/05/2012 03:54:23 AM,2012,2100 VISTA CI,2.0,ST01,20,"2100 VISTA CI\nVIRGINIA BEACH, VA 23451-\n(36...."
1,"EMS call, excluding vehicle accident with injury",07/10/2014 02:52:41 PM,2014,1200 ATLANTIC SHORES DR,1.0,ST12,0,"1200 ATLANTIC SHORES DR\nVIRGINIA BEACH, VA 23..."
2,"EMS call, excluding vehicle accident with injury",08/09/2015 05:17:05 PM,2015,400 PRINCE OF WALES DR,2.0,ST20,0,"400 PRINCE OF WALES DR\nVIRGINIA BEACH, VA 234..."
3,"EMS call, excluding vehicle accident with injury",11/25/2011 08:11:40 AM,2011,2500 BAYVIEW AV,2.0,ST04,0,"2500 BAYVIEW AV\nVIRGINIA BEACH, VA 23455-\n(3..."
4,"EMS call, excluding vehicle accident with injury",04/18/2015 12:49:49 PM,2015,100 HILL PRINCE RD,3.0,ST09,40,"100 HILL PRINCE RD\nVIRGINIA BEACH, VA 23462-\..."

In [21]:
fire.dtypes

Incident Type               object
Call Date and Time          object
Year                         int64
Incident Location           object
Battalion                  float64
Station Area                object
Estimated Property Loss      int64
Location 1                  object
dtype: object

### Selecting and subsetting

In [22]:
fire['Station Area'] #dataframe_name[column_name]

0    ST01
1    ST12
2    ST20
3    ST04
4    ST09
5    ST08
6    ST16
7    ST02
8    ST08
9    ST10
Name: Station Area, dtype: object

In [23]:
fire.loc[2]

Incident Type               EMS call, excluding vehicle accident with injury
Call Date and Time                                    08/09/2015 05:17:05 PM
Year                                                                    2015
Incident Location                                     400 PRINCE OF WALES DR
Battalion                                                                  2
Station Area                                                            ST20
Estimated Property Loss                                                    0
Location 1                 400 PRINCE OF WALES DR\nVIRGINIA BEACH, VA 234...
Name: 2, dtype: object

In [24]:
#*********
#Only station area 2
fire_2 = fire.loc[fire['Station Area'] == 'ST20']
#print(fire_2)
fire_2

,Incident Type,Call Date and Time,Year,Incident Location,Battalion,Station Area,Estimated Property Loss,Location 1
2,"EMS call, excluding vehicle accident with injury",08/09/2015 05:17:05 PM,2015,400 PRINCE OF WALES DR,2.0,ST20,0,"400 PRINCE OF WALES DR\nVIRGINIA BEACH, VA 234..."

In [25]:
fire['Station Area'] == 'ST20'

0    False
1    False
2     True
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: Station Area, dtype: bool

In [26]:
#Station area 8 and 2013
fire.loc[(fire['Station Area' == 'ST08']) & (fire['Year'] == 2013)]

KeyError: False

In [28]:
#Remove all rows where Incident type is EMS call...etc.
#Keep all rows where Battalion is NOT 2
fire_1_3 = fire.loc[fire['Battalion'] != 2]
fire_1_3

,Incident Type,Call Date and Time,Year,Incident Location,Battalion,Station Area,Estimated Property Loss,Location 1
1,"EMS call, excluding vehicle accident with injury",07/10/2014 02:52:41 PM,2014,1200 ATLANTIC SHORES DR,1.0,ST12,0,"1200 ATLANTIC SHORES DR\nVIRGINIA BEACH, VA 23..."
4,"EMS call, excluding vehicle accident with injury",04/18/2015 12:49:49 PM,2015,100 HILL PRINCE RD,3.0,ST09,40,"100 HILL PRINCE RD\nVIRGINIA BEACH, VA 23462-\..."
5,"EMS call, excluding vehicle accident with injury",09/04/2013 01:45:32 PM,2013,1800 COLONIAL ARMS CI,1.0,ST08,20,"1800 COLONIAL ARMS CI\nVIRGINIA BEACH, VA 2345..."
6,"EMS call, excluding vehicle accident with injury",05/13/2017 04:09:32 AM,2017,3800 CHANCERY LN,3.0,ST16,10,"3800 CHANCERY LN\nVIRGINIA BEACH, VA 23452-\n(..."
8,Brush or brush-and-grass mixture fire,07/23/2011 02:08:01 PM,2011,1800 COLONIAL ARMS CI,1.0,ST08,2000,"1800 COLONIAL ARMS CI\nVIRGINIA BEACH, VA 2345..."
9,"EMS call, excluding vehicle accident with injury",01/11/2012 11:10:34 AM,2012,100 INDIAN RIVER RD,3.0,ST10,0,"100 INDIAN RIVER RD\nVIRGINIA BEACH, VA 23464-\n"

In [ ]:
#Everything but incidents in 2011

In [ ]:
#All incidents with Property Loss greater than $50

### Groupby and aggregate

In [29]:
fire['Battalion'].unique()

array([2., 1., 3.])

In [30]:
fire['Battalion'].value_counts()

2.0    4
3.0    3
1.0    3
Name: Battalion, dtype: int64

In [32]:
batt_2 = fire.groupby('Battalion')
batt_2

In [35]:
batt_2 = fire.groupby('Battalion').agg('sum') #can be mean and median as well as sum
batt_2

           Year  Estimated Property Loss
Battalion
1.0        6038                     2020
2.0        8054                       50
3.0        6044                       50

### Some larger data sets

In [36]:
guardian = pd.read_csv('Guardian_Langs_Edit.csv') #source https://www.theguardian.com/news/datablog/2011/apr/15/language-extinct-endangered

In [38]:
guardian.head()

,ID,Name in English,Name in French,Name in Spanish,Countries,Country codes alpha 3,ISO639-3 codes,Degree of endangerment,Alternate names,Name in the language,Number of speakers,Sources,Latitude,Longitude,Description of the location
0,1022,South Italian,italien du sud,napolitano-calabrés,Italy,ITA,nap,Vulnerable,Neapolitan; Neapolitan-Calabrese; неаполитанск...,NaN,7500000.0,NaN,40.9798,15.2490,"Campania, Lucania (Basilicata), Abruzzi (Abruz..."
1,1023,Sicilian,sicilien,siciliano,Italy,ITA,scn,Vulnerable,NaN,NaN,5000000.0,NaN,37.4399,14.5019,"Sicily (Sicilia), southern and central Calabri..."
2,383,Low Saxon,bas-saxon,bajo sajón,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS","act, drt, frs, gos, nds, sdz, stl, twd, vel, wep",Vulnerable,"Low German, Niedersächsisch, Nedersaksisch, Ni...",Neddersassisch,4800000.0,NaN,53.4029,10.3601,"northern Germany, the north-eastern part of th..."
3,335,Belarusian,biélorusse,bielorruso,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",bel,Vulnerable,NaN,NaN,4000000.0,Hienadź Cychun: Weißrussisch. — Lexikon der Sp...,53.9560,27.5756,Belarus except the Polesian-speaking south-wes...
4,382,Lombard,lombard,lombardo,"Italy, Switzerland","ITA, CHE",lmo,Definitely endangered,NaN,NaN,3500000.0,NaN,45.7215,9.3273,the region of Lombardy (except the southernmos...

In [37]:
guardian['Degree of endangerment'].unique()

array(['Vulnerable', 'Definitely endangered', 'Severely endangered',
       'Critically endangered', 'Extinct'], dtype=object)

In [39]:
guardian.groupby('Degree of endangerment').agg('mean')['Number of speakers']

                                 ID  Number of speakers   Latitude  Longitude
Degree of endangerment
Critically endangered   1326.728171          921.669118  13.860218  16.172322
Definitely endangered   1392.559647        62276.686120  18.909097  30.989885
Extinct                 1105.086957           55.909836  19.175296  10.279711
Severely endangered     1285.393502        10349.477228  17.957597  23.517001
Vulnerable              1535.797771       148928.222586  12.995694  22.400032

In [40]:
guardian.groupby('Degree of endangerment').get_group('Extinct')

,ID,Name in English,Name in French,Name in Spanish,Countries,Country codes alpha 3,ISO639-3 codes,Degree of endangerment,Alternate names,Name in the language,Number of speakers,Sources,Latitude,Longitude,Description of the location
484,2618,Tobada',tobada,tobada',Indonesia,IDN,tdj,Extinct,Bada,NaN,12000.0,"Wurm, Stephen A. 2007. 'Australia and the Paci...",-2.0190,119.4708,"On the headwaters of the Budong-Budong River, ..."
1039,2059,Tamazight (Ait Rouadi),tamazight (Ait Rouadi),tamazight (Ait Rouadi),Morocco,MAR,rif,Extinct,"Tamazight, Tachelhit, Berber",NaN,1637.0,"Field investigation\nSaid BENNIS 2006: ""Conta...",32.5745,-5.9655,Semguet et Guettaya centers of Kasbat Tadla 2...
2220,580,Canichana,canichana,canichana,Bolivia (Plurinational State of),BOL,caz,Extinct,NaN,NaN,3.0,"Mily Crevels\nCrevels et alii, 'Current Studie...",-14.5835,-64.9731,"San Pedro, province of Cercado, department of ..."
2268,2112,Lae,lae,lae,Papua New Guinea,PNG,NaN,Extinct,NaN,NaN,1.0,Grimes 2000,-6.6318,147.1810,Morobe
2276,661,Uru,uru,uru,Bolivia (Plurinational State of),BOL,ure,Extinct,Uchumataqu,NaN,1.0,"Cerrón-Palomino, 'El chipaya o la lengua de lo...",-16.5519,-68.6645,"Last documented community was Iru-Ito, near An..."
2281,1444,!Gan!ne,!gan!ne,!gan!ne,South Africa,ZAF,kqu,Extinct,"!Gã!ne, Seroa, related to //Ku //'e",NaN,0.0,Anthony Traill,-31.3911,26.6748,NaN
2282,116,Aasax,aasax,aasáx,United Republic of Tanzania,TZA,aas,Extinct,Asa,NaN,0.0,Maarten Mous,-5.1948,37.7380,NaN
2283,429,Ahom,ahom,ahom,India,IND,aho,Extinct,NaN,NaN,0.0,NaN,26.5393,92.5378,NaN
2284,486,Ainu (Kuril),aïnou (Kouriles),ainú (Islas Kuriles),Russian Federation,RUS,ain,Extinct,NaN,NaN,0.0,В. М. Алпатов: Айнский язык. — Языки мира: Пал...,46.8882,152.0068,the northern islands of the Kuril chain (espec...
2285,494,Ainu (Sakhalin),aïnou (Sakhaline),ainú (Sajalín),Russian Federation,RUS,ain,Extinct,NaN,NaN,0.0,В. М. Алпатов: Айнский язык. — Языки мира: Пал...,47.3983,142.2949,"the southern part of Sakhalin (Karafuto), from..."
2286,329,Akkala Saami,saami akkala,saamí de Akkala / lapón de Akkala,Russian Federation,RUS,sia,Extinct,NaN,NaN,0.0,NaN,67.5809,31.6680,earlier spoken in the village of Babino in sou...
2287,1342,Alderney French,auregnais,francés de Alderney,United Kingdom of Great Britain and Northern I...,GBR,NaN,Extinct,auregnais,NaN,0.0,NaN,49.7098,-2.2075,the island of Alderney in the Bailiwick of Gue...
2288,1658,Amanayé,amanayé,amanayé,Brazil,BRA,ama,Extinct,"Manaxo, Manajo, Amanage",NaN,0.0,"Moore, 2008.",-3.7327,-49.1088,NaN
2289,756,Andoa (Ecuador),andoa (Équateur),andoa (Ecuador),Ecuador,ECU,anb,Extinct,"Shimigae, Gae, Andoa language (Ethnologue)",NaN,0.0,- http://www.ethnologue.com/show_language.asp?...,-2.3341,-76.5016,"Location in Ecuador: Pastaza province, Pucaya..."
2290,513,Andro,andro,andro,India,IND,NaN,Extinct,Phayeng,NaN,0.0,NaN,24.8415,94.0539,NaN
2291,838,Antoniano,antoniano,antoniano,United States of America,USA,sln,Extinct,Antoniano Salinan,NaN,0.0,"Victor Golla, Ives Goddard, Lyle Campbell, Mar...",35.9717,-121.1757,"Mission San Antonio de Padua, near Jolon in so..."
2292,2141,Aore,aore,aore,Vanuatu,VUT,aor,Extinct,NaN,NaN,0.0,Lynch & Crowley 2001,-15.5767,167.1638,"Aore, Santo"
2293,569,Apolista,apolista,apolista,Bolivia (Plurinational State of),BOL,NaN,Extinct,NaN,NaN,0.0,NaN,-14.4027,-68.6206,NaN
2294,1454,Arapaho (Oklahoma),arapaho (Oklahoma),arapaho (Oklahoma),United States of America,USA,arp,Extinct,NaN,NaN,0.0,Golla et al. ms.,35.6020,-97.9712,Wind River Reservation in Wyoming; Cheyenne-Ar...
2295,1629,Arapáso,arapáso,arapaso,Brazil,BRA,arj,Extinct,NaN,NaN,0.0,"Databank Moore, 2008.",0.0000,-66.0000,NaN
2296,2658,Aribwatsa,aribwatsa,aribuacha,Papua New Guinea,PNG,laz,Extinct,NaN,NaN,0.0,"Wurm, Stephen A. 2007. 'Australia and the Paci...",-6.6523,147.2291,Lae town area
2297,1611,Arin,NaN,NaN,Russian Federation,RUS,NaN,Extinct,NaN,NaN,0.0,Г. К. Вернер: Енисейские языки. — Языки мира: ...,56.2982,91.7468,"the upper Yenisey basin, to the north of Krasn..."
2298,465,Arman,arman,arman,Russian Federation,RUS,eve,Extinct,NaN,NaN,0.0,NaN,59.6732,150.1391,поселки Ола и Армань Ольского района Магаданск...
2299,2170,Arta,arta,arta,Philippines,PHL,atz,Extinct,NaN,NaN,0.0,NaN,16.4225,121.7042,NaN
2300,573,Atacameño,acatameño,kunza,"Argentina, Bolivia (Plurinational State of), C...","ARG, BOL, CHL",kuz,Extinct,"Kunza, Likan Antai",NaN,0.0,"Adelaar with Muysken, 'The Languages of the An...",-22.7559,-68.2470,"Two areas: (1) San Pedro de Atacama, Toconao, ..."
2301,830,Atsugewi,atsugewi,atsugewi,United States of America,USA,atw,Extinct,NaN,NaN,0.0,"Victor Golla, Ives Goddard, Lyle Campbell, Mar...",40.8824,-122.6661,NaN
2302,2042,Babuza,babuza,babuza,China,CHN,bzg,Extinct,"Favorlang, Poavosa",NaN,0.0,NaN,24.0100,120.6230,Taiwan Province
2304,12,Baga Kalem,baga kaloum,baga kalem,Guinea,GIN,NaN,Extinct,NaN,NaN,0.0,Tucker Childs,10.4013,-14.3151,NaN
2306,855,Barbareño,barbareño,barbareño,United States of America,USA,boi,Extinct,NaN,NaN,0.0,"Victor Golla, Ives Goddard, Lyle Campbell, Mar...",34.4227,-119.7039,NaN
2307,2205,Barzani Jewish Neo-Aramaic (Iraq),judéo-araméen barszani (Iraq),neo-arameo judío barzani (Iraq),Iraq,IRQ,bjf,Extinct,"Lishan Didan, Lishan Dideni, Judeo-Aramaic, Je...",NaN,0.0,"H. Mutzafi (p.c.)\nMutzafi, H. The Jewish Neo-...",36.2619,43.9892,"Province of Irbil, Iraqi Kurdistan"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2515,856,Ventureño,ventureño,ventureño,United States of America,USA,veo,Extinct,NaN,NaN,0.0,NaN,34.2809,-119.2979,NaN
2516,662,Vilela,vilela,vilela,Argentina,ARG,vil,Extinct,NaN,NaN,0.0,- Golluscio 2005 “Documentación de lenguas a...,-26.9808,-59.6777,East central Chaco Province near Paraguay bord...
2519,850,Wappo,wappo,wappo,United States of America,USA,wao,Extinct,NaN,NaN,0.0,NaN,38.8701,-122.5154,NaN
2520,722,Western Mansi,mansi occidental,mansi occidental,Russian Federation,RUS,mns,Extinct,NaN,NaN,0.0,Laszlo Keresztes: Mansi. — The Uralic language...,61.1432,62.4023,"the region of the source rivers of the Tavda, ..."
2521,774,Wiyot,wiyot,wiyot,United States of America,USA,wiy,Extinct,NaN,NaN,0.0,NaN,40.5984,-124.2519,NaN
2522,1881,Xakriabá,xakriabá,sakiriabá,Brazil,BRA,xkr,Extinct,"Xacriabá, Xikriabá",NaN,0.0,"www.socioambiental.org\nMoore, 2008, IBGE data...",-14.5306,-44.0438,NaN
2523,94,Yaaku,yaaku,yaaku,Kenya,KEN,muu,Extinct,Mukogodo,NaN,0.0,"Bernd Heine, Matthias Brenzinger",0.4394,37.1777,NaN
2524,754,Yameo,yameo,yameo,Peru,PER,yme,Extinct,NaN,NaN,0.0,NaN,-4.4449,-73.5644,"Departamento de Loreto, alrededores de Nauta"
2525,252,Yir Yoront,yir yoront,yir yoront,Australia,AUS,yiy,Extinct,"Yir Yiront, Jir Joront, Gwandera, Kokomindjen,...",NaN,0.0,NaN,-16.3095,141.4489,NaN
2526,2713,Yoba,yoba,yoba,Papua New Guinea,PNG,zgr,Extinct,NaN,NaN,0.0,"Wurm, Stephen A. 2007. 'Australia and the Paci...",-10.0337,149.2272,"Southeastern hinterland, Central Province"
2527,1601,Yola,NaN,NaN,Ireland,IRL,NaN,Extinct,Fingalian (dialect),NaN,0.0,D. Ó Muirthe & T. P. Dolan: The dialect of For...,52.2266,-6.4846,the baronies of Forth and Bargy in County Wexf...
2528,509,Yug,yug,yuguí,Russian Federation,RUS,"yug, yuu",Extinct,Southern Ket; Sym Ket; “Yugh”,NaN,0.0,Г. К. Вернер: Енисейские языки. — Языки мира: ...,61.0901,88.1982,"originally the basins of the rivers Sym, Kas, ..."
2529,849,Yuki,yuki,yuki,United States of America,USA,yuk,Extinct,NaN,NaN,0.0,"Victor Golla, Ives Goddard, Lyle Campbell, Mar...",37.4336,-118.5908,Formerly spoken in several dialects along the ...
2530,510,Yurats,NaN,NaN,Russian Federation,RUS,NaN,Extinct,NaN,NaN,0.0,Е. А. Хелимский: Об одном переходном северноса...,69.2872,81.9140,the tundra zone to the west of the lower Yenis...
2531,610,Yurutí (Brazil),yurutí (Brésil),yurutí (Brasil),Brazil,BRA,yui,Extinct,Jurití,NaN,0.0,"Databank Moore, 2008.",-0.1318,-69.1699,NaN
2532,21,Zeem,zeem,zeemo,Nigeria,NGA,zua,Extinct,"Tule, Danshe",NaN,0.0,"Roger Blench, Caron",9.8389,9.0911,NaN
2533,131,|'Auni,|'auni,|'auni,South Africa,ZAF,ngh,Extinct,NaN,NaN,0.0,Anthony Traill,-26.0105,20.3630,NaN
2534,136,|Xam,|xam,|xam,South Africa,ZAF,xam,Extinct,NaN,NaN,0.0,Dorothea Bleek,-32.2853,20.7590,NaN
2535,1443,ǁKu ǁ'e,ǁku ǁ'e,ǁkuǁe,South Africa,ZAF,kqu,Extinct,Seroa,NaN,0.0,Anthony Traill,-29.9739,27.0812,Border area of Lesotho and South Africa
2536,1445,ǁKx'au,ǁkx'au,ǁkx'au,South Africa,ZAF,NaN,Extinct,NaN,NaN,0.0,Anthony Traill,-32.2896,21.7968,NaN
2537,130,ǁXegwi,ǁxegwi,ǁxegwi,South Africa,ZAF,xeg,Extinct,NaN,NaN,0.0,"Anthony Traill, 2002' The Khoesan languages', ...",-25.3500,30.9900,"Lake Chrissie, Eastern Transvaal."
2560,2038,Carabayo,carabayo,carabayo,Colombia,COL,cby,Extinct,Amazonas macusa,NaN,NaN,"Ethnologue (1992), Pag. 51.",-1.6666,-70.3333,"Amazonas Department, halfway between the San ..."
2567,888,Chiwere,chiwere,chiwere,United States of America,USA,iow,Extinct,Oto-Missouri [Otoe-Missouria] (Jiwere) and Iow...,NaN,NaN,"Victor Golla, Ives Goddard, Lyle Campbell, Mar...",35.9761,-97.3336,Otoe-Missouria Tribe of the Red Rock region of...
2592,2203,Hulaula (Iran),hulaula (République islamique d'Iran),hulaulá (Iran),Iran (Islamic Republic of),IRN,huy,Extinct,"Lishana Noshan, Lishana Axni, Jabali, Galligal...",NaN,NaN,NaN,35.9068,46.1535,Iranian Kurdistan and bordering Iraqi towns
2618,2007,Macaguaje,macaguaje,macaguaje,Colombia,COL,mcl,Extinct,NaN,NaN,NaN,"Patiño, Carlos. 2000 ""Lenguas aborígenes de la...",0.0000,-75.0000,NaN
2662,795,Quinault,quinault,quinault,United States of America,USA,qun,Extinct,NaN,NaN,NaN,"Victor Golla, Ives Goddard, Lyle Campbell, Mar...",47.3332,-124.2864,"Quinault Reservation, Taholah, WA"
2678,97,Sogoo,sogoo,sogoo,Kenya,KEN,oki,Extinct,Okiek,NaN,NaN,Franz Rottland,-1.0435,36.6006,NaN
2698,447,Tolcha,tolcha,tolcha,India,IND,NaN,Extinct,NaN,NaN,NaN,NaN,29.9333,80.0326,NaN
2705,280,Unami,delaware,unamí,United States of America,USA,unm,Extinct,"Delaware, Oklahoma Delaware, Lenape",NaN,NaN,Golla et al ms.,39.1300,-76.0253,NaN
2711,283,Western Abenaki (United States of America),abénaqui occidental (États-Unis d'Amérique),abenakí occidental (Estados Unidos),United States of America,USA,abe,Extinct,NaN,NaN,NaN,"Victor Golla, Ives Goddard, Lyle Campbell, Mar...",43.0046,-72.2460,NaN

In [ ]:
guardian.groupby('Degree of endangerment').get_group('Extinct')
#How else could we have done this?

In [ ]:
#Languages in Australia
guardian_AU = guardian[guardian['Countries'].str.contains('Australia')]
#How else could we do this?
guardian_AU

In [ ]:
#Mean number of speakers for each
guardian.groupby('Degree of endangerment').agg('mean')
#How do I get just the one column?

In [ ]:
guardian.groupby('Degree of endangerment').agg('median')

In [ ]:
prop = pd.read_csv('Property_Sales_Sample.csv', index_col = 0) #source https://www.vbgov.com/government/departments/stir/transparency/Pages/open-data.aspx

In [ ]:
prop

In [ ]:
prop.groupby('Neighborhood').agg('sum')